aiogram==2.25.1
aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
Babel==2.9.1
black==23.3.0
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
frozenlist==1.3.3
idna==3.4
isort==5.12.0
loguru==0.7.0
magic-filter==1.0.9
multidict==6.0.4
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.2.0
pyaes==1.6.1
pyasn1==0.5.0
pytz==2023.3
requests==2.31.0
rsa==4.9
Telethon==1.28.5
tomli==2.0.1
urllib3==2.0.2
yarl==1.8.2
